body{
    font-family: Verdana;
    
}

h1{
    text-align: center;
}

fieldset{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 0 auto;
    border-radius: 20px;
}

input{
    width: 600px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    outline: none;

}
.cor1{ 
    background-color: antiquewhite;
}



input[type=checkbox]{ background-color: 1px solid red; outline: none;display: inline-block;}

 