body{
    font-family: Verdana;
    
}

h1{
    text-align: center;
}

fieldset{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin:0 auto;
    border-radius: 20px;
    
}

input{
    width: 600px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    outline: none;

}
.cor1{ 
    background-color: antiquewhite;
}


input[type=checkbox]{outline:none; 
    width: 5%;
    display:inline-block;
}

.cor2{
    background-color: aquamarine;
}

.cor3{
    background-color: coral;
}

/* .cor4{
    background-color: #4caf50} */

.cor4{
    background-color: violet;
}

input[type=text], input[type=number], input[type=email],input[type=date]{
    border-radius: 10px;
    
}